<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interactive sorting demo</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="imgcontainer left">
            <a href="left">
                <img src="static/images/{{left_image}}">
            </a>
        </div>
        <div class="centercontainer">
            <p>
                {{comparison_count}} comparisons<br/><br/>
                <a href="reset"><strong>start over</strong></a>
            </p>
        </div>
        <div class="imgcontainer right">
            <a href="right">
                <img src="static/images/{{right_image}}">
            </a>
        </div>
    </div>
    <pre>
    </pre>
</body>
</html>
